.padding__30 {
    padding: 30px 0;
}

.main__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: solid black 1px;
    border-radius: 0.5rem;
    margin:  80px 140px;
    padding: 10px 60px;
    height: 150px;
    background-color: #FFF;
}

.main__placeholder {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info__h1 {
    padding-bottom: 5px;
}

.blockNumber__paragraph {
    cursor: pointer;
}

.info__paragraph {
    font-size: 25px;
    color: #353935;
}

.main__panel {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    border: solid black 1px;
    border-radius: 0.5rem;
    margin:  80px 160px;
    padding: 10px 0;
    background-color: #FFF;
    font-size: 12px;
}

.main__addressDiv {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.address__placeholder {
    padding: 0px 30px;
    padding-bottom: 10px;
    align-items: center;
}

.balance__info {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0px 30px;
}

.block__info {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0px 30px;
}

.block__transactions {
    display: flex;
    flex-direction: column;
}

