* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: "Inter", sans-serif;
}

a {
  color: unset;
  text-decoration: none;
}

body {
  background-color: #f7f7f7;
}

.gradient__bg {
   /* ff 3.6+ */
   background:-moz-radial-gradient(circle at 2% 25%, rgba(0, 0, 0, 1) 0%, rgba(41, 55, 187, 1) 100%);

   /* safari 5.1+,chrome 10+ */
   background:-webkit-radial-gradient(circle at 2% 25%, rgba(0, 0, 0, 1) 0%, rgba(41, 55, 187, 1) 100%);

   /* opera 11.10+ */
   background:-o-radial-gradient(circle at 2% 25%, rgba(0, 0, 0, 1) 0%, rgba(41, 55, 187, 1) 100%);

   /* ie 10+ */
   background:-ms-radial-gradient(circle at 2% 25%, rgba(0, 0, 0, 1) 0%, rgba(41, 55, 187, 1) 100%);

   /* global 92%+ browsers support */
   background:radial-gradient(circle at 2% 25%, rgba(0, 0, 0, 1) 0%, rgba(41, 55, 187, 1) 100%);
}


